*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

/* Header */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #D9D9D9;
    box-shadow: 0px 5px 20px black;
    padding: 10px 0px;
    min-width: 512px;
}

.conteiner-menu-l-logo{
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-menu{
    align-self: center;
}

.menu-lado-btn i{
    font-size: 35px;
    color: black;
}

.menu ul{
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
}

.menu ul li{
    margin-right: 20px;
    margin-left: 5px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: normal;
}

.menu li a:hover{
    color: rgb(58, 62, 66);
}

.menu ul i{
    font-size: 20px;
    color: black;
}

.logo{
    align-self: center;
    margin: 0px 10px;
}

.logo a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 100;
    color: black;
}

.logo a:hover{
    color: rgb(58, 62, 66);
}


/* Fim da header */

/* fale conosco / contato */

.container-fale-conosco{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 512px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 350px;
    margin: 30px;
    background-color: #EEE8E8;
}

.conteudo h1{
    font-size: 38px;
}

.conteudo h2{
    font-size: 20px;
}

.conteudo p{
    margin: 30px 0px;
    font-size: 17px;
}

.conteudo button{
    background-color: #6DF07A;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 15px;
    border: 1px solid black;
}

.conteudo button:hover{
    transform: scale(1.05);
}

.conteudo button:active{
    transform: scale(1.0);
    background-color: #4abe56;
}

/* fim fale conosco / contato */






/* Responsividade */
@media screen and (max-width: 760px){

    /* header */
    .conteiner-menu-l-logo{
        width: 100%;
        margin-bottom: 5px;
    }

    .container-menu{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* fale conosco / contato */
    .conteudo h1{
        font-size: 35px;
    }

    .conteudo button{
        background-color: #6DF07A;
        padding: 15px 20px;
        border-radius: 15px;
        font-size: 20px;
        border: 1px solid black;
    }
}
